In [3]:
import pandas as pd
import pymysql

# Importation des données à transférer

In [90]:
app_train = pd.read_csv('application_train.csv')
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
app_test = pd.read_csv('application_test.csv')
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
bureau = pd.read_csv('bureau.csv')
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

# Connexion au base de données

In [4]:
host = 'database-1.c6j2ix3ngibe.us-east-1.rds.amazonaws.com'
password = '19961994'
user = 'admin'
database = "database-1"

In [5]:
db = pymysql.connect(host=host, user=user, password=password, charset='utf8')
cursor = db.cursor()

# Vérification des tableaux sur notre AWS rds

In [7]:
sql = 'show databases'

In [8]:
cursor.execute(sql)

4

In [9]:
for x in cursor:
  print(x)

('homecreditprojet',)
('information_schema',)
('mysql',)
('performance_schema',)

In [10]:
sql = '''use homecreditprojet'''
cursor.execute(sql)

0

In [11]:
cursor.execute('''show tables''')

4

In [12]:
for x in cursor:
  print(x)

('app_test',)
('app_train',)
('bureau',)
('bureau_balance',)

In [13]:
cursor.execute(''' SELECT count(*) FROM app_test ''')

1

In [14]:
for x in cursor:
  print(x)

(47953,)

# La démarche suivie

Shéma de notre fichiers csv générés automatiquement en utilisant csvsql

In [35]:
!csvsql -i sqlite bureau.csvsql

c:\anaconda\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

CREATE TABLE bureau (
	"SK_ID_CURR" FLOAT NOT NULL,
	"SK_ID_BUREAU" FLOAT NOT NULL,
	"CREDIT_ACTIVE" VARCHAR NOT NULL,
	"CREDIT_CURRENCY" VARCHAR NOT NULL,
	"DAYS_CREDIT" FLOAT NOT NULL,
	"CREDIT_DAY_OVERDUE" FLOAT NOT NULL,
	"DAYS_CREDIT_ENDDATE" FLOAT,
	"DAYS_ENDDATE_FACT" FLOAT,
	"AMT_CREDIT_MAX_OVERDUE" FLOAT,
	"CNT_CREDIT_PROLONG" FLOAT NOT NULL,
	"AMT_CREDIT_SUM" FLOAT,
	"AMT_CREDIT_SUM_DEBT" FLOAT,
	"AMT_CREDIT_SUM_LIMIT" FLOAT,
	"AMT_CREDIT_SUM_OVERDUE" FLOAT NOT NULL,
	"CREDIT_TYPE" VARCHAR NOT NULL,
	"DAYS_CREDIT_UPDATE" FLOAT NOT NULL,
	"AMT_ANNUITY" FLOAT
);

In [ ]:
!csvsql -i sqlite app_train.csvsql

In [122]:
sql3 = '''
CREATE TABLE app_train (
SK_ID_CURR INT NOT NULL,
TARGET INT, 
NAME_CONTRACT_TYPE VARCHAR(200),
CODE_GENDER VARCHAR(200), 
FLAG_OWN_CAR VARCHAR(200), 
FLAG_OWN_REALTY VARCHAR(200), 
CNT_CHILDREN INT, 
AMT_INCOME_TOTAL FLOAT, 
AMT_CREDIT FLOAT, 
AMT_ANNUITY FLOAT, 
AMT_GOODS_PRICE FLOAT , 
NAME_TYPE_SUITE VARCHAR(200),
NAME_INCOME_TYPE VARCHAR(200),
NAME_EDUCATION_TYPE VARCHAR(200),
NAME_FAMILY_STATUS VARCHAR(200),
NAME_HOUSING_TYPE VARCHAR(200),
REGION_POPULATION_RELATIVE FLOAT, 
DAYS_BIRTH INT, 
DAYS_EMPLOYED INT, 
DAYS_REGISTRATION FLOAT, 
DAYS_ID_PUBLISH INT,
OWN_CAR_AGE FLOAT, 
FLAG_MOBIL INT, 
FLAG_EMP_PHONE INT, 
FLAG_WORK_PHONE INT, 
FLAG_CONT_MOBILE INT, 
FLAG_PHONE INT, 
FLAG_EMAIL INT, 
OCCUPATION_TYPE VARCHAR(200),
CNT_FAM_MEMBERS FLOAT, 
REGION_RATING_CLIENT INT, 
REGION_RATING_CLIENT_W_CITY INT, 
WEEKDAY_APPR_PROCESS_START DATE, 
HOUR_APPR_PROCESS_START FLOAT, 
REG_REGION_NOT_LIVE_REGION INT, 
REG_REGION_NOT_WORK_REGION INT, 
LIVE_REGION_NOT_WORK_REGION INT, 
REG_CITY_NOT_LIVE_CITY INT, 
REG_CITY_NOT_WORK_CITY INT, 
LIVE_CITY_NOT_WORK_CITY INT, 
ORGANIZATION_TYPE VARCHAR(200), 
EXT_SOURCE_1 FLOAT, 
EXT_SOURCE_2 FLOAT, 
EXT_SOURCE_3 FLOAT, 
APARTMENTS_AVG FLOAT, 
BASEMENTAREA_AVG FLOAT, 
YEARS_BEGINEXPLUATATION_AVG FLOAT, 
YEARS_BUILD_AVG FLOAT, 
COMMONAREA_AVG FLOAT, 
ELEVATORS_AVG FLOAT, 
ENTRANCES_AVG FLOAT, 
FLOORSMAX_AVG FLOAT, 
FLOORSMIN_AVG FLOAT, 
LANDAREA_AVG FLOAT, 
LIVINGAPARTMENTS_AVG FLOAT, 
LIVINGAREA_AVG FLOAT, 
NONLIVINGAPARTMENTS_AVG FLOAT, 
NONLIVINGAREA_AVG FLOAT, 
APARTMENTS_MODE FLOAT, 
BASEMENTAREA_MODE FLOAT, 
YEARS_BEGINEXPLUATATION_MODE FLOAT, 
YEARS_BUILD_MODE FLOAT, 
COMMONAREA_MODE FLOAT, 
ELEVATORS_MODE FLOAT, 
ENTRANCES_MODE FLOAT, 
FLOORSMAX_MODE FLOAT, 
FLOORSMIN_MODE FLOAT, 
LANDAREA_MODE FLOAT, 
LIVINGAPARTMENTS_MODE FLOAT, 
LIVINGAREA_MODE FLOAT, 
NONLIVINGAPARTMENTS_MODE FLOAT, 
NONLIVINGAREA_MODE FLOAT, 
APARTMENTS_MEDI FLOAT, 
BASEMENTAREA_MEDI FLOAT, 
YEARS_BEGINEXPLUATATION_MEDI FLOAT, 
YEARS_BUILD_MEDI FLOAT, 
COMMONAREA_MEDI FLOAT, 
ELEVATORS_MEDI FLOAT, 
ENTRANCES_MEDI FLOAT, 
FLOORSMAX_MEDI FLOAT, 
FLOORSMIN_MEDI FLOAT, 
LANDAREA_MEDI FLOAT, 
LIVINGAPARTMENTS_MEDI FLOAT, 
LIVINGAREA_MEDI FLOAT, 
NONLIVINGAPARTMENTS_MEDI FLOAT, 
NONLIVINGAREA_MEDI FLOAT, 
FONDKAPREMONT_MODE VARCHAR(200), 
HOUSETYPE_MODE VARCHAR(200), 
TOTALAREA_MODE FLOAT, 
WALLSMATERIAL_MODE VARCHAR(200),
EMERGENCYSTATE_MODE VARCHAR(200), 
OBS_30_CNT_SOCIAL_CIRCLE FLOAT, 
DEF_30_CNT_SOCIAL_CIRCLE FLOAT, 
OBS_60_CNT_SOCIAL_CIRCLE FLOAT, 
DEF_60_CNT_SOCIAL_CIRCLE FLOAT, 
DAYS_LAST_PHONE_CHANGE FLOAT, 
FLAG_DOCUMENT_2 INT, 
FLAG_DOCUMENT_3 INT, 
FLAG_DOCUMENT_4 INT, 
FLAG_DOCUMENT_5 INT, 
FLAG_DOCUMENT_6 INT, 
FLAG_DOCUMENT_7 INT , 
FLAG_DOCUMENT_8 INT, 
FLAG_DOCUMENT_9 INT, 
FLAG_DOCUMENT_10 INT , 
FLAG_DOCUMENT_11 INT, 
FLAG_DOCUMENT_12 INT, 
FLAG_DOCUMENT_13 INT, 
FLAG_DOCUMENT_14 INT, 
FLAG_DOCUMENT_15 INT, 
FLAG_DOCUMENT_16 INT, 
FLAG_DOCUMENT_17 INT, 
FLAG_DOCUMENT_18 INT, 
FLAG_DOCUMENT_19 INT, 
FLAG_DOCUMENT_20 INT, 
FLAG_DOCUMENT_21 INT, 
AMT_REQ_CREDIT_BUREAU_HOUR FLOAT, 
AMT_REQ_CREDIT_BUREAU_DAY FLOAT, 
AMT_REQ_CREDIT_BUREAU_WEEK FLOAT, 
AMT_REQ_CREDIT_BUREAU_MON FLOAT, 
AMT_REQ_CREDIT_BUREAU_QRT FLOAT,
AMT_REQ_CREDIT_BUREAU_YEAR FLOAT, 
PRIMARY KEY (SK_ID_CURR))
'''

In [30]:
sqltest = '''
CREATE TABLE app_test (
SK_ID_CURR INT NOT NULL, 
NAME_CONTRACT_TYPE VARCHAR(200),
CODE_GENDER VARCHAR(200), 
FLAG_OWN_CAR INT, 
FLAG_OWN_REALTY INT, 
CNT_CHILDREN INT, 
AMT_INCOME_TOTAL FLOAT, 
AMT_CREDIT FLOAT, 
AMT_ANNUITY FLOAT, 
AMT_GOODS_PRICE FLOAT , 
NAME_TYPE_SUITE VARCHAR(200),
NAME_INCOME_TYPE VARCHAR(200),
NAME_EDUCATION_TYPE VARCHAR(200),
NAME_FAMILY_STATUS VARCHAR(200),
NAME_HOUSING_TYPE VARCHAR(200),
REGION_POPULATION_RELATIVE FLOAT, 
DAYS_BIRTH INT, 
DAYS_EMPLOYED INT, 
DAYS_REGISTRATION INT, 
DAYS_ID_PUBLISH INT,
OWN_CAR_AGE INT, 
FLAG_MOBIL INT, 
FLAG_EMP_PHONE INT, 
FLAG_WORK_PHONE INT, 
FLAG_CONT_MOBILE INT, 
FLAG_PHONE INT, 
FLAG_EMAIL INT, 
OCCUPATION_TYPE VARCHAR(200),
CNT_FAM_MEMBERS FLOAT, 
REGION_RATING_CLIENT FLOAT, 
REGION_RATING_CLIENT_W_CITY FLOAT, 
WEEKDAY_APPR_PROCESS_START DATE, 
HOUR_APPR_PROCESS_START FLOAT, 
REG_REGION_NOT_LIVE_REGION INT, 
REG_REGION_NOT_WORK_REGION INT, 
LIVE_REGION_NOT_WORK_REGION INT, 
REG_CITY_NOT_LIVE_CITY INT, 
REG_CITY_NOT_WORK_CITY INT, 
LIVE_CITY_NOT_WORK_CITY INT, 
ORGANIZATION_TYPE VARCHAR(200), 
EXT_SOURCE_1 FLOAT, 
EXT_SOURCE_2 FLOAT, 
EXT_SOURCE_3 FLOAT, 
APARTMENTS_AVG FLOAT, 
BASEMENTAREA_AVG FLOAT, 
YEARS_BEGINEXPLUATATION_AVG FLOAT, 
YEARS_BUILD_AVG FLOAT, 
COMMONAREA_AVG FLOAT, 
ELEVATORS_AVG FLOAT, 
ENTRANCES_AVG FLOAT, 
FLOORSMAX_AVG FLOAT, 
FLOORSMIN_AVG FLOAT, 
LANDAREA_AVG FLOAT, 
LIVINGAPARTMENTS_AVG FLOAT, 
LIVINGAREA_AVG FLOAT, 
NONLIVINGAPARTMENTS_AVG FLOAT, 
NONLIVINGAREA_AVG FLOAT, 
APARTMENTS_MODE FLOAT, 
BASEMENTAREA_MODE FLOAT, 
YEARS_BEGINEXPLUATATION_MODE FLOAT, 
YEARS_BUILD_MODE FLOAT, 
COMMONAREA_MODE FLOAT, 
ELEVATORS_MODE FLOAT, 
ENTRANCES_MODE FLOAT, 
FLOORSMAX_MODE FLOAT, 
FLOORSMIN_MODE FLOAT, 
LANDAREA_MODE FLOAT, 
LIVINGAPARTMENTS_MODE FLOAT, 
LIVINGAREA_MODE FLOAT, 
NONLIVINGAPARTMENTS_MODE FLOAT, 
NONLIVINGAREA_MODE FLOAT, 
APARTMENTS_MEDI FLOAT, 
BASEMENTAREA_MEDI FLOAT, 
YEARS_BEGINEXPLUATATION_MEDI FLOAT, 
YEARS_BUILD_MEDI FLOAT, 
COMMONAREA_MEDI FLOAT, 
ELEVATORS_MEDI FLOAT, 
ENTRANCES_MEDI FLOAT, 
FLOORSMAX_MEDI FLOAT, 
FLOORSMIN_MEDI FLOAT, 
LANDAREA_MEDI FLOAT, 
LIVINGAPARTMENTS_MEDI FLOAT, 
LIVINGAREA_MEDI FLOAT, 
NONLIVINGAPARTMENTS_MEDI FLOAT, 
NONLIVINGAREA_MEDI FLOAT, 
FONDKAPREMONT_MODE VARCHAR(200), 
HOUSETYPE_MODE VARCHAR(200), 
TOTALAREA_MODE FLOAT, 
WALLSMATERIAL_MODE VARCHAR(200),
EMERGENCYSTATE_MODE BOOLEAN, 
OBS_30_CNT_SOCIAL_CIRCLE FLOAT, 
DEF_30_CNT_SOCIAL_CIRCLE FLOAT, 
OBS_60_CNT_SOCIAL_CIRCLE FLOAT, 
DEF_60_CNT_SOCIAL_CIRCLE FLOAT, 
DAYS_LAST_PHONE_CHANGE FLOAT, 
FLAG_DOCUMENT_2 BOOLEAN, 
FLAG_DOCUMENT_3 BOOLEAN, 
FLAG_DOCUMENT_4 BOOLEAN, 
FLAG_DOCUMENT_5 BOOLEAN, 
FLAG_DOCUMENT_6 BOOLEAN, 
FLAG_DOCUMENT_7 BOOLEAN , 
FLAG_DOCUMENT_8 BOOLEAN, 
FLAG_DOCUMENT_9 BOOLEAN, 
FLAG_DOCUMENT_10 BOOLEAN , 
FLAG_DOCUMENT_11 BOOLEAN, 
FLAG_DOCUMENT_12 BOOLEAN, 
FLAG_DOCUMENT_13 BOOLEAN, 
FLAG_DOCUMENT_14 BOOLEAN, 
FLAG_DOCUMENT_15 BOOLEAN, 
FLAG_DOCUMENT_16 BOOLEAN, 
FLAG_DOCUMENT_17 BOOLEAN, 
FLAG_DOCUMENT_18 BOOLEAN, 
FLAG_DOCUMENT_19 BOOLEAN, 
FLAG_DOCUMENT_20 BOOLEAN, 
FLAG_DOCUMENT_21 BOOLEAN, 
AMT_REQ_CREDIT_BUREAU_HOUR FLOAT, 
AMT_REQ_CREDIT_BUREAU_DAY FLOAT, 
AMT_REQ_CREDIT_BUREAU_WEEK FLOAT, 
AMT_REQ_CREDIT_BUREAU_MON FLOAT, 
AMT_REQ_CREDIT_BUREAU_QRT FLOAT,
AMT_REQ_CREDIT_BUREAU_YEAR FLOAT, 
PRIMARY KEY (SK_ID_CURR))
'''

In [41]:
sqlbureau = '''
CREATE TABLE bureau (
SK_ID_CURR FLOAT NOT NULL, 
SK_ID_BUREAU FLOAT, 
CREDIT_ACTIVE  VARCHAR(200), 
CREDIT_CURRENCY  VARCHAR(200), 
DAYS_CREDIT  INT, 
CREDIT_DAY_OVERDUE INT, 
DAYS_CREDIT_ENDDATE FLOAT, 
DAYS_ENDDATE_FACT FLOAT, 
AMT_CREDIT_MAX_OVERDUE FLOAT, 
CNT_CREDIT_PROLONG FLOAT, 
AMT_CREDIT_SUM FLOAT, 
AMT_CREDIT_SUM_DEBT FLOAT, 
AMT_CREDIT_SUM_LIMIT FLOAT, 
AMT_CREDIT_SUM_OVERDUE FLOAT, 
CREDIT_TYPE VARCHAR(200), 
DAYS_CREDIT_UPDATE INT, 
AMT_ANNUITY FLOAT,
PRIMARY KEY (SK_ID_CURR))
'''

# Transfert des données vers nos tableaux sur notre RDS

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://admin:19961994@database-1.c6j2ix3ngibe.us-east-1.rds.amazonaws.com/homecreditprojet', echo=False)

try:
    bureau_balance.to_sql(name='app_train',con=engine,index=False, if_exists='replace')
    print('Sucessfully written to Database!!!')
except Exception as e:
    print(e)

In [135]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (4.50.2)

In [13]:
from tqdm import tqdm
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://admin:19961994@database-1.c6j2ix3ngibe.us-east-1.rds.amazonaws.com/homecreditprojet', echo=False)

def insert(df, l):
    dfs = spliter_df(df, l)
    first = True
    case = "replace"
    for df in tqdm(dfs):
        if not first:
            case = "append"
        insert_one(df, case)

In [8]:
def spliter_df(df, l):
    size = len(df)
    nb = int(size /l)
    return [df[d:(1+d)*l] for d in range(nb)]

In [7]:
def  insert_one(df, case):
    try:
        df.to_sql(name= 'bureau_balance' ,con=engine,index=False, if_exists=case)
    except Exception as e:
        print(e)
        return False
    return True

In [ ]:
insert(bureau_balance, 10000)

  8%|█████▉                                                                   | 222/2729 [4:04:18<86:26:27, 124.13s/it]

(pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([WinError 10054] An existing connection was forcibly closed by the remote host)')
[SQL: INSERT INTO bureau_balance (`SK_ID_BUREAU`, `MONTHS_BALANCE`, `STATUS`) VALUES (%(SK_ID_BUREAU)s, %(MONTHS_BALANCE)s, %(STATUS)s)]
[parameters: ({'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -29, 'STATUS': 'X'}, {'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -30, 'STATUS': 'X'}, {'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -31, 'STATUS': 'X'}, {'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -32, 'STATUS': 'X'}, {'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -33, 'STATUS': 'X'}, {'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -34, 'STATUS': 'X'}, {'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -35, 'STATUS': 'X'}, {'SK_ID_BUREAU': 5715456, 'MONTHS_BALANCE': -36, 'STATUS': 'X'}  ... displaying 10 of 2219779 total bound parameter sets ...  {'SK_ID_BUREAU': 5730667, 'MONTHS_BALANCE': -26, 'STATUS': '0'}, {'SK_ID_BUREAU': 5730667, 'MONTHS_BALANCE': -27, 'STATUS': '0'})]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

  9%|██████▎                                                                   | 235/2729 [4:42:05<49:53:50, 72.03s/it]
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3418, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-14-f4c5a418ffa9>", line 1, in <module>
    insert(bureau_balance, 10000)
  File "<ipython-input-13-bf8b8f95fe11>", line 12, in insert
    insert_one(df, case)
  File "<ipython-input-7-f63b2e269043>", line 3, in insert_one
    df.to_sql(name= 'bureau_balance' ,con=engine,index=False, if_exists=case)
  File "C:\Anaconda\lib\site-packages\pandas\core\generic.py", line 2605, in to_sql
    sql.to_sql(
  File "C:\Anaconda\lib\site-packages\pandas\io\sql.py", line 589, in to_sql
    pandas_sql.to_sql(
  File "C:\Anaconda\lib\site-packages\pandas\io\sql.py", line 1398, in to_sql
    table.insert(chunksize, method=method)
  File "C:\Anaconda\lib\site-packages\pandas\io\sql.py", line 830, in insert
    exec_insert(conn, keys, chunk_iter)
  File "C:\Anaconda\lib\site-packages\pandas\io\sql.py", line 747, in _execute_insert
    conn.execute(self.table.insert(), data)
  File "C:\Anaconda\lib\site-packages\sqlalchemy\engine\base.py", line 1011, in execute
    return meth(self, multiparams, params)
  File "C:\Anaconda\lib\site-packages\sqlalchemy\sql\elements.py", line 298, in _execute_on_connection
    return connection._execute_clauseelement(self, multiparams, params)
  File "C:\Anaconda\lib\site-packages\sqlalchemy\engine\base.py", line 1124, in _execute_clauseelement
    ret = self._execute_context(
  File "C:\Anaconda\lib\site-packages\sqlalchemy\engine\base.py", line 1316, in _execute_context
    self._handle_dbapi_exception(
  File "C:\Anaconda\lib\site-packages\sqlalchemy\engine\base.py", line 1514, in _handle_dbapi_exception
    util.raise_(exc_info[1], with_traceback=exc_info[2])
  File "C:\Anaconda\lib\site-packages\sqlalchemy\util\compat.py", line 182, in raise_
    raise exception
  File "C:\Anaconda\lib\site-packages\sqlalchemy\engine\base.py", line 1256, in _execute_context
    self.dialect.do_executemany(
  File "C:\Anaconda\lib\site-packages\sqlalchemy\dialects\mysql\mysqldb.py", line 148, in do_executemany
    rowcount = cursor.executemany(statement, parameters)
  File "C:\Anaconda\lib\site-packages\pymysql\cursors.py", line 173, in executemany
    return self._do_execute_many(
  File "C:\Anaconda\lib\site-packages\pymysql\cursors.py", line 202, in _do_execute_many
    v = values % escape(arg, conn)
  File "C:\Anaconda\lib\site-packages\pymysql\cursors.py", line 109, in _escape_args
    return {key: conn.literal(val) for (key, val) in args.items()}
  File "C:\Anaconda\lib\site-packages\pymysql\cursors.py", line 109, in <dictcomp>
    return {key: conn.literal(val) for (key, val) in args.items()}
  File "C:\Anaconda\lib\site-packages\pymysql\connections.py", line 517, in literal
    return self.escape(obj, self.encoders)
  File "C:\Anaconda\lib\site-packages\pymysql\connections.py", line 504, in escape
    return "'" + self.escape_string(obj) + "'"
  File "C:\Anaconda\lib\site-packages\pymysql\connections.py", line 520, in escape_string
    if self.server_status & SERVER_STATUS.SERVER_STATUS_NO_BACKSLASH_ESCAPES:
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2045, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1170, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 316, in wrapped
    return f(*args, **kwargs)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 350, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Anaconda\lib\inspect.py", line 1503, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Anaconda\lib\inspect.py", line 1461, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Anaconda\lib\inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Anaconda\lib\inspect.py", line 751, in getmodule
    f = getabsfile(module)
  File "C:\Anaconda\lib\inspect.py", line 720, in getabsfile
    _filename = getsourcefile(object) or getfile(object)
  File "C:\Anaconda\lib\inspect.py", line 705, in getsourcefile
    if os.path.exists(filename):
  File "C:\Anaconda\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2047, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1436, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1336, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1193, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1148, in format_exception_as_a_whole
    records = self.get_records(etb, number_of_lines_of_context, tb_offset)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1185, in get_records
    traceback.print_exc(file=self.ostream)
  File "C:\Anaconda\lib\traceback.py", line 163, in print_exc
    print_exception(*sys.exc_info(), limit=limit, file=file, chain=chain)
  File "C:\Anaconda\lib\traceback.py", line 103, in print_exception
    for line in TracebackException(
  File "C:\Anaconda\lib\traceback.py", line 509, in __init__
    self.stack = StackSummary.extract(
  File "C:\Anaconda\lib\traceback.py", line 366, in extract
    f.line
  File "C:\Anaconda\lib\traceback.py", line 288, in line
    self._line = linecache.getline(self.filename, self.lineno).strip()
  File "C:\Anaconda\lib\linecache.py", line 16, in getline
    lines = getlines(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 47, in getlines
    return updatecache(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "C:\Anaconda\lib\tokenize.py", line 392, in open
    buffer = _builtin_open(filename, 'rb')
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3338, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3435, in run_code
    self.showtraceback(running_compiled_code=True)
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2060, in showtraceback
    print('\n' + self.get_exception_only(), file=sys.stderr)
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2005, in get_exception_only
    msg = traceback.format_exception_only(etype, value)
  File "C:\Anaconda\lib\traceback.py", line 140, in format_exception_only
    return list(TracebackException(etype, value, None).format_exception_only())
  File "C:\Anaconda\lib\traceback.py", line 524, in __init__
    self._load_lines()
  File "C:\Anaconda\lib\traceback.py", line 536, in _load_lines
    self.__context__._load_lines()
  File "C:\Anaconda\lib\traceback.py", line 534, in _load_lines
    frame.line
  File "C:\Anaconda\lib\traceback.py", line 288, in line
    self._line = linecache.getline(self.filename, self.lineno).strip()
  File "C:\Anaconda\lib\linecache.py", line 16, in getline
    lines = getlines(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 47, in getlines
    return updatecache(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "C:\Anaconda\lib\tokenize.py", line 392, in open
    buffer = _builtin_open(filename, 'rb')
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2045, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1170, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 316, in wrapped
    return f(*args, **kwargs)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 350, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Anaconda\lib\inspect.py", line 1503, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Anaconda\lib\inspect.py", line 1465, in getframeinfo
    lines, lnum = findsource(frame)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 182, in findsource
    lines = linecache.getlines(file, globals_dict)
  File "C:\Anaconda\lib\linecache.py", line 47, in getlines
    return updatecache(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "C:\Anaconda\lib\tokenize.py", line 392, in open
    buffer = _builtin_open(filename, 'rb')
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2047, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1436, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1336, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1193, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1148, in format_exception_as_a_whole
    records = self.get_records(etb, number_of_lines_of_context, tb_offset)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1185, in get_records
    traceback.print_exc(file=self.ostream)
  File "C:\Anaconda\lib\traceback.py", line 163, in print_exc
    print_exception(*sys.exc_info(), limit=limit, file=file, chain=chain)
  File "C:\Anaconda\lib\traceback.py", line 103, in print_exception
    for line in TracebackException(
  File "C:\Anaconda\lib\traceback.py", line 509, in __init__
    self.stack = StackSummary.extract(
  File "C:\Anaconda\lib\traceback.py", line 366, in extract
    f.line
  File "C:\Anaconda\lib\traceback.py", line 288, in line
    self._line = linecache.getline(self.filename, self.lineno).strip()
  File "C:\Anaconda\lib\linecache.py", line 16, in getline
    lines = getlines(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 47, in getlines
    return updatecache(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "C:\Anaconda\lib\tokenize.py", line 392, in open
    buffer = _builtin_open(filename, 'rb')
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2923, in _run_cell
    return runner(coro)
  File "C:\Anaconda\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3146, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 3357, in run_ast_nodes
    self.showtraceback()
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2060, in showtraceback
    print('\n' + self.get_exception_only(), file=sys.stderr)
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2005, in get_exception_only
    msg = traceback.format_exception_only(etype, value)
  File "C:\Anaconda\lib\traceback.py", line 140, in format_exception_only
    return list(TracebackException(etype, value, None).format_exception_only())
  File "C:\Anaconda\lib\traceback.py", line 524, in __init__
    self._load_lines()
  File "C:\Anaconda\lib\traceback.py", line 536, in _load_lines
    self.__context__._load_lines()
  File "C:\Anaconda\lib\traceback.py", line 536, in _load_lines
    self.__context__._load_lines()
  File "C:\Anaconda\lib\traceback.py", line 536, in _load_lines
    self.__context__._load_lines()
  [Previous line repeated 2 more times]
  File "C:\Anaconda\lib\traceback.py", line 534, in _load_lines
    frame.line
  File "C:\Anaconda\lib\traceback.py", line 288, in line
    self._line = linecache.getline(self.filename, self.lineno).strip()
  File "C:\Anaconda\lib\linecache.py", line 16, in getline
    lines = getlines(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 47, in getlines
    return updatecache(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 95, in updatecache
    stat = os.stat(fullname)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2045, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 1170, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 316, in wrapped
    return f(*args, **kwargs)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 350, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Anaconda\lib\inspect.py", line 1503, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Anaconda\lib\inspect.py", line 1465, in getframeinfo
    lines, lnum = findsource(frame)
  File "C:\Anaconda\lib\site-packages\IPython\core\ultratb.py", line 182, in findsource
    lines = linecache.getlines(file, globals_dict)
  File "C:\Anaconda\lib\linecache.py", line 47, in getlines
    return updatecache(filename, module_globals)
  File "C:\Anaconda\lib\linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "C:\Anaconda\lib\tokenize.py", line 392, in open
    buffer = _builtin_open(filename, 'rb')
KeyboardInterrupt

# Exemple de Connexion et récupération des données

In [ ]:
from pandas import read_sql_query

host = 'database-1.c6j2ix3ngibe.us-east-1.rds.amazonaws.com'
password = '19961994'
user = 'admin'
database = "database-1"
    
db = pymysql.connect(host=host, user=user, password=password, charset='utf8')
cursor = db.cursor()
    
sql = '''use homecreditprojet'''
cursor.execute(sql)
    
query_test= 'SELECT * FROM app_test'
    
    
app_test = pd.read_sql_query(query_test, db)
    
app_test.to_csv("app_test.csv", index=False)